[submodule "_external/andrej-karpathy-skills"]
	path = _external/andrej-karpathy-skills
	url = https://github.com/vtroisWhite/andrej-karpathy-skills.git
[submodule "_external/claude_code_src"]
	path = _external/claude_code_src
	url = https://github.com/ponponon/claude_code_src.git
[submodule "_external/radon"]
	path = _external/radon
	url = https://github.com/rubik/radon.git
[submodule "_external/pydeps"]
	path = _external/pydeps
	url = https://github.com/thebjorn/pydeps.git
[submodule "_external/graphify"]
	path = _external/graphify
	url = https://github.com/raufer/graphify.git

