[flake8]
max-line-length = 88
extend-ignore =
    E203,
    W503,
    E501,
    W293,
exclude =
    .venv,
    venv,
    __pycache__,
    */migrations/*,
    staticfiles,
    media,
    logs,
    node_modules,
    dist,
    dist-ssr
per-file-ignores =
    */migrations/*.py:F401
